<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.esolz.fitnessapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.esolz.fitnessapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.esolz.fitnessapp.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name="com.esolz.fitnessapp.helper.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.esolz.fitnessapp.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.esolz.fitnessapp.fitness.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.esolz.fitnessapp.fitness.LandScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.esolz.fitnessapp.fitness.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
        </activity>
        <!--<activity-->
        <!--android:name="com.esolz.fitnessapp.fitness.CustomCalendarView"-->
        <!--android:label="@string/app_name"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">-->
        <!--</activity>-->
        <activity
            android:name="com.esolz.fitnessapp.fitness.ProgressGraphView"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.esolz.fitnessapp.fragment.ChatDetailsFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
            android:name="com.esolz.fitnessapp.fitness.EsolzCamera"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.esolz.fitnessapp.fitness.PreviewUploadImageActivity"
            android:label="@string/app_name"></activity>
    </application>

    <!--<receiver-->
    <!--android:name="com.esolz.fitnessapp.gcmnotification.GCMBroadCastReceiver"-->
    <!--android:permission="com.google.android.c2dm.permission.SEND">-->
    <!--<intent-filter>-->
    <!--<action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
    <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>-->

    <!--<category android:name="com.esolz.fitnessapp.gcmnotification.GCMIntentService"/>-->
    <!--</intent-filter>-->
    <!--</receiver>-->


    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <receiver
        android:name="com.esolz.fitnessapp.fitness.GCMBroadCastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

            <category android:name="com.app"/>
        </intent-filter>
    </receiver>

    <service android:name="com.esolz.fitnessapp.fitness.GCMIntentService"/>


    <!--<receiver-->
        <!--android:name="com.esolz.fitnessapp.fitness.GCMBroadCastReceiver"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--<intent-filter>-->
            <!--<action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
            <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>-->

            <!--<category android:name="com.esolz.fitnessapp"/>-->
        <!--</intent-filter>-->
    <!--</receiver>-->

    <!--<service android:name="com.esolz.fitnessapp.fitness.GCMIntentService"/>-->

    <!--<receiver-->
    <!--android:name="com.google.android.gcm.GCMBroadcastReceiver"-->
    <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
    <!--<intent-filter>-->
    <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
    <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

    <!--<category android:name="com.esolz.fitnessapp" />-->
    <!--</intent-filter>-->
    <!--</receiver>-->

</manifest>